<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static\images.png"> 
    <link rel="stylesheet" href="static/style.css">
    <title>RAO APPARTMENT Login</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">Rao Appartment</div>
            <div class="tagline">Rajokri, New Delhi</div>
        </div>
        <div class="login-container">
            <div class="login-box">
                <h1>Resident Portal</h1>
                <h2>Enter Your Unique Access Code</h2>
                <form action="/otp" method="GET">
                    <input type="text" id="otp" name="otp" placeholder="Enter your access code" required>
                    <button type="submit" class="submit-button">Access Portal</button>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>
